<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 logo">
				<div class="logo_img">
					<a routerLink="/main"><img src="../../../assets/images/icons/logo2.png" alt=""></a>
				</div>
				<div class="logo_text">
					<p>Neon</p>
					<br>
					<span>For your comfort</span>
				</div>
			</div>
			<div class="col-lg-3 country">
				<img src="https://www.adidas.pl/glass/assets/flags/pl.svg" alt="">
				<span>Polska</span>
				<p>© All rights reserved </p>
			</div>
			<div class="col-lg-3 contact">
				<p>Tel.: +48 000 000 000</p>
				<p>Rzeszów <br> ul.Trampalam 43/12</p>
			</div>
			<div class="col-lg-3 contact2">
				<p>Mail: event@gmail.com</p>
				<a href="#"><img src="../../../assets/images/icons/tele.png" alt=""></a>
				<a href="#"><img src="../../../assets/images/icons/vk.png" alt=""></a>
				<a href="#"><img src="../../../assets/images/icons/inst.png" alt=""></a>
				<a href="#"><img src="../../../assets/images/icons/fb.png" alt=""></a>
			</div>
		</div>
	</div>
</footer>